# Interface Gráfica
PySide6==6.7.0

# OBS WebSocket
obs-websocket-py==0.6.1
obsws-python==1.2.0

# Processamento de Imagem (Câmeras)
opencv-python==4.9.0.80

# Integração Google (YouTube/API)
google-api-python-client==2.120.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0